.App {
  text-align: center;
  margin: 3%;
}

.table-contain{
  width: 80vw;
  margin: auto;
  margin-top: 5%;
}

.upload-progress-contain{
  margin: auto;
 text-align: left;
 width: 80vw;
}

.upload-progress-inner-contain h3{
  margin-bottom: 2%;
}