.App {
  text-align: center;
  margin: 3%;
}
.App h1{
  margin-bottom: 2%;
}
/* 
.table-contain{
  width: 80vw;
  margin: auto;
  margin-top: 5%;
}
 */
.upload-progress-contain {
  text-align: left;
}
.upload-progress-inner-contain {
}
.upload-progress-uploadbar {
  
}
.upload-progress-progressbar {
  margin-top: 10%;
  text-align: center;
}
